<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row pad-left-right">
          <span class="title pull-left">Messages</span>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <app-message-item
              *ngFor="let message of messages"
              [message]="message"
            ></app-message-item>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <app-message-edit
          (addMessageEvent)="onAddMessage($event)"
        ></app-message-edit>
      </div>
    </div>
  </div>
</div>
