<div id="sortBy">
  <p>Sort by</p>
  <mat-button-toggle-group (change)="toggleSort($event)" value="0">
    <mat-button-toggle value="0">Type</mat-button-toggle>
    <mat-button-toggle value="1">Ingredient</mat-button-toggle>
    <mat-button-toggle value="2">Quality</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<app-error-card *ngIf="requestStatus?.succeeded === false">
  <p>There was a problem retrieving recipe data!</p>
  <p>{{ requestStatus?.message }}</p>
</app-error-card>
<mat-accordion multi *ngIf="!isLoading && sortBy === 0">
  <mat-expansion-panel *ngFor="let type of recipeTypes">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ type }}</mat-panel-title>
      <mat-panel-description>
        <img class="panel-icon" [src]="getRecipeImagePath(type)" />
        <p class="recipe-count">({{ getRecipeCountByType(type) }})</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-body">
      <app-recipe-item
        *ngFor="let recipe of recipesByType[type]"
        [recipe]="recipe"
        [showType]="false"
      ></app-recipe-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion multi *ngIf="!isLoading && sortBy === 1">
  <mat-expansion-panel *ngFor="let ingredient of ingredients">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ ingredient }}</mat-panel-title>
      <mat-panel-description>
        <img class="panel-icon" [src]="getIngredientImagePath(ingredient)" />
        <p class="recipe-count">
          ({{ getRecipeCountByIngredient(ingredient) }})
        </p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-body">
      <app-recipe-item
        *ngFor="let recipe of recipesByIngredient[ingredient]"
        [recipe]="recipe"
      ></app-recipe-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion multi *ngIf="!isLoading && sortBy === 2">
  <mat-expansion-panel
    *ngFor="let quality of qualities"
    [ngClass]="getQualityClass(quality)"
  >
    <mat-expansion-panel-header [ngClass]="getQualityClass(quality)">
      <mat-panel-title>{{ quality }}</mat-panel-title>
      <mat-panel-description>
        <p>({{ getRecipeCountByQuality(quality) }})</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-body">
      <app-recipe-item
        *ngFor="let recipe of recipesByQuality[quality]"
        [recipe]="recipe"
        [showQuality]="false"
      ></app-recipe-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
