#sortBy {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}

#sortBy > p {
  color: white;
  margin-right: 0.5em;
}

mat-spinner {
  margin: auto;
}

mat-expansion-panel-header {
  height: 3.5em;
}

mat-panel-title {
  align-content: center;
  margin: auto;
}

mat-panel-description {
  align-content: center;
  justify-content: end;
}

.panel-icon {
  max-width: 45px;
  margin: auto 2em;
}

.panel-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.normal {
  background-color: #808080;
}

.good {
  background-color: #9a3d0e;
}

.verygood {
  background-color: #638e8e;
}

.special {
  background-color: #daa520;
}
