<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="showType">{{ recipe?.type }}</mat-card-title>
    <div class="quality" [ngClass]="getQualityClass()" *ngIf="showQuality">
      {{ recipe?.quality }}
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="5" rowHeight="60px">
      <mat-grid-tile>
        <div class="ingredient">
          <img [src]="getIngredientIconPath(recipe?.ingredients[0])" />
          <p>{{ recipe?.ingredients[0] }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="ingredient">
          <img [src]="getIngredientIconPath(recipe?.ingredients[1])" />
          <p>{{ recipe?.ingredients[1] }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="ingredient">
          <img [src]="getIngredientIconPath(recipe?.ingredients[2])" />
          <p>{{ recipe?.ingredients[2] }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="ingredient">
          <img [src]="getIngredientIconPath(recipe?.ingredients[3])" />
          <p>{{ recipe?.ingredients[3] }}</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="ingredient">
          <img [src]="getIngredientIconPath(recipe?.ingredients[4])" />
          <p>{{ recipe?.ingredients[4] }}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <p *ngIf="recipe?.pokemon">{{ recipe?.pokemon }}</p>
    <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', recipe.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-button color="warn" (click)="onDelete(recipe)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-card-content>
</mat-card>
