<div class="container-fluid">
  <div class="row contact-list-header">
    <div class="col-xs-8 vcenter">
      <h2>Contacts</h2>
    </div>
    <div class="col-xs-4 vcenter">
      <button class="btn btn-success">New Contact</button>
    </div>
  </div>
  <div class="row contact-list-container">
    <div class="col-xs-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let contact of contacts"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ contact.name }}</h4>
        </div>
        <span class="pull-right">
          <img
            [src]="contact.imageUrl"
            [alt]="contact.name"
            class="img-responsive"
            style="max-height: 50px"
          />
        </span>
      </a>
    </div>
  </div>
</div>
