<div class="panel panel-default">
  <div class="panel-body">
    <form id="contact-edit">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control required"
            size="120"
            max="120"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            class="form-control required"
            size="120"
            max="255"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            class="form-control invalid"
            size="150"
            max="255"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="text"
            id="imageUrl"
            class="form-control"
            size="150"
            max="255"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="groupList">Group Contacts:</label>

          <div class="row" id="groupList" style="min-height: 3rem">
            <div *ngFor="let contact of groupContacts; let i = index">
              <div>
                <app-contact-item
                  class="col-sm-11"
                  [contact]="contact"
                ></app-contact-item>
                <button
                  class="btn btn-danger col-sm-2 deleteButton"
                  (click)="onRemoveItem(i)"
                >
                  X
                </button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupContacts?.length < 1"
              >Drag contacts in group here</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
